<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%= form_with(model: @post, local: true) do |form| %>
      <div class=“field”>
        <%= form.text_area :need %><br>
        <%= form.text_area :notneed %>
      </div>
      <div class=“actions”>
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>