<h2><%= @user.name %>さんの投稿した教材一覧</h2>
<p>================</p>
 <p>必要なテキスト</p>
<% @posts.each do |p| %>
  <%= p.need %><br>
<% end %>
<p>================</p>
<p>不要なテキスト</p>
<% @posts.each do |p| %>
  <%= p.notneed %><br>
<% end %>